body{
    background-color: wheat;
    color: black;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.4em;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#header{
    background-color: brown;
    color: ghostwhite;
}

#navbar{
    background: seagreen;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    padding: 8px;
    margin-right: 8px;
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#introduction{
    text-align: center;
    margin-bottom: 10px;
}

#introduction h1{
    background-color: tomato;
    padding: 20px;
    margin-bottom: 0;
    border-right: solid black 5px;
}

#introduction p{
    background-color: tomato;
    padding: 20px;
    margin-top: 0;
    border-bottom: solid black 5px;
    border-right: black solid 5px;
}

#introduction img{
    padding: 0;
    border-radius: 20px;
}

#mainbar{
    background-color: #333333;
    color: white;
    float: left;
    padding: 7px;
    width: 63%;
    border: teal 10px;
    border-style: groove;
    box-sizing: border-box;
}

#mainbar h2{
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1.6px;
}

#sidebar{
    background-color: rgb(47, 79, 51);
    float: right;
    width: 35%;
    padding: 7px;
    box-sizing: border-box;
    color: white;
    border: ridge white 10px;
}

#sidebar li{
    padding: 3px;
    list-style: upper-roman;

}

#footer{
    background: rgb(207, 37, 108);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}